/* ------Google Fonts----- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #404eed;
}
#homepage-container {
  width: 100%;
  height: 1000px;
}

/* ------------Header Start------------ */
.header {
  width: 100%;
  height: 700px;
  background-color: #404eed;
}
/* -----Navbar----- */
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-top: 1%;
  width: 90%;
}

.brand-title {
  font-size: 1.5rem;
  margin-left: 8%;
  font-weight: bold;
  cursor: pointer;
}
.brand-title a{
  color: #ffffff;
}
.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
  font-weight: 600;
}

.navbar-links li:hover {
  background-color: #404eed;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

.navbar .navbar-authentication {
  width: 100px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  background-color: aliceblue;
  color: navy;
  text-align: center;
  padding: 0.5rem;
  border-radius: 35px;
}
.navbar .navbar-authentication:hover {
  box-shadow: 5px 5px 5px #b1adad59;
}

/* ---Header Content--- */
.header-content-container {
  margin-top: 2%;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.header-content-container .header-img {
  margin-right: 3%;
}
.header-content-container .header-img img {
  width: 100%;
}

.header-content {
  padding: 14%;
}

.header-content-btn {
  position: relative;
}
.header-content-btn button {
  margin: 1rem;
  position: relative;
  left: 10%;
  border-radius: 35px;
  border: none;
  padding: 1.3rem;
  font-size: 1rem;
  font-weight: 500;
  color: navy;
  cursor: pointer;
}

.header-content-btn button:hover {
  box-shadow: 5px 5px 5px #b1adad59;
}

/* ------Header Part End----- */

/* ------Body Part Start------- */

/* ---info-1--- */
.info-1 {
  width: 100%;
  height: 650px;
  background-color: #ffffff;
}
.info-1-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.info-1-img {
  float: left;
  width: 50%;
  height: 100%;
}
.info-1-img img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.info-1-content {
  position: relative;
  top: 18%;
  transform: translate-(-50%);
  float: left;
  width: 40%;
  height: 100%;
  margin-left: 5%;
}
.info-1-content h1 {
  font-size: 3.8rem;
}
.info-1-content p {
  font-size: 1.5rem;
}

/* --info-2-- */
.info-2 {
  width: 100%;
  height: 650px;
  background-color: #f6f6f6;
}

.info-2-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.info-2-content {
  position: relative;
  top: 18%;
  transform: translate-(-50%);
  float: left;
  width: 40%;
  height: 100%;
  padding: 6%;
  margin-left: 2%;
}
.info-2-content h1 {
  font-size: 3.8rem;
}
.info-2-content p {
  font-size: 1.5rem;
}

.info-2-img {
  float: left;
  width: 50%;
  height: 100%;
}
.info-2-img img {
  width: 100%;
  height: 100%;
  margin-left: 5%;
}

/* ---info-4 */
.info-4 {
  width: 100%;
  height: 1380px;
  background-color: #f6f6f6;
}
.info-4-content {
  width: 80%;
  height: 150px;
  margin: 0 auto;
  text-align: center;
  padding: 5%;
}
.info-4-content h1 {
  font-size: 3rem;
  line-height: 95%;
  line-clamp: calc(100);
  text-transform: uppercase;
  text-rendering: geometricPrecision;
}
.info-4-content p {
  text-align-last: center;
  font-size: 1.4rem;
}
.info-4-img {
  width: 80%;
  height: 700px;
  margin: 0 auto;
}
.info-4-img img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.info-4-others {
  width: 80%;
  margin: 0 auto;
}
.info-4-others-img {
  width: 35%;
  margin: 0 auto;
}
.info-4-others-img img {
  width: 100%;
  margin: 0 auto;
}
.info-4-others-content {
  width: 40%;
  margin: 0 auto;
}
.info-4-others-content h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: -2%;
  font-weight: bold;
}
.info-4-others-content button {
  position: relative;
  padding: 1rem;
  border: none;
  width: 280px;
  background-color: #4452e4;
  color: white;
  font-size: 1.2rem;
  border-radius: 35px;
  left: 30%;
}

/* .info-4-others div {
  position: relative;
  left: 35%;
  transform: translateX(-50%, -50%);
  margin: 0 auto;
} */

/* ------Body Part End------- */
